* {
    box-sizing: border-box;
}


html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
    font-size: 32px;
    text-align: center;
}

body {
    background-color: #F1F0DE;
    font-size: 18px;
}

div {
    background: #F1F0DE;
    margin: auto;
    width: 60%;
    padding-top: 30px;
}

.align-centre {
    display: block;
    text-align: center;
    list-style-type: none;
}

.img-chef {
    display: block;
    margin: auto;
    margin-right: 550px;
    width: 30%;
}

.img-recipes {
    display: block;
    margin: auto;
    width: auto;
    height: 500px;
    border: 1px solid black;
}

li {
    margin: 15px;
}

.center {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}