* {
    box-sizing: border-box;
}


html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F1F0DE;
    font-size: 18px;
}

/*
div {
    margin: 20px 0px 20px 0px;
    border: 2px solid teal;
}

.introduction {
    background-color: #548CA8;
}

.title-content {
    background-color: #548CA8;
}
*/

h1,
h2 {
    font-size: 32px;
    text-align: center;
}

.align-centre {
    display: inline;
    text-align: center;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
}

.align-centre-b {
    display: block;
    text-align: center;
    list-style-type: none;
}

.img-chef {
    display: block;
    margin: auto;
    padding-right: 40px;
    width: 30%;
}

.img-recipes {
    display: block;
    margin: auto;
    width: auto;
    height: 500px;
    border: 1px solid black;
}

li {
    margin: 15px;
}

.center {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}